body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background-repeat: no-repeat;
    background-size: auto;
    
      }
img{
 top:-15%;
height:580px;
width:1350px;
}
font{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(179, 255, 0);
   font-size: 30px;
}
input{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(252, 9, 49);
   background-color: rgb(193, 156, 194);
    font-size: 0.75cm;
margin-top: 170px;
margin-left: 530px;
border-radius: 50px;
}
.animate{
    animation: blink 1s alternate infinite;
    text-align: center;
    padding-left: 20px;
    margin-top: 140px;
}
@keyframes blink{
    0%{opacity: 0; }
    20%{opacity: .2; }
    }